@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Heebo&family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Heebo&family=Rubik&family=Secular+One&display=swap');

body{
    background-color: black;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    min-height: 100vh;
    width: 80vw;
    background: linear-gradient(-223deg,#000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
    
}

main > .personagem{
    display: none;
    height: 100vh;
}

main .personagem.selecionado{
    display: block;
}

main .personagem .imagem{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.conteudo{

    position: absolute;
    top: 0;
    left: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.conteudo .nome-personagem{
    color: white;
    font-size: 48px;
    font-family: Secular One,sans-serif;
    font-weight:400;
    margin-bottom: 20px;

}

.conteudo .descricao{
    color: white;
    font-family: Rubik,sans-serif;
    line-height: 24px;
}

.conteudo .logo{
    background-image: url(../imagens/one-piece-logo.png);
    background-size: contain;
    height: 100px;
    width: 230px;
}

.botoes{
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    width: 180px;
    

    gap: 10px;

}

.botoes .botao{
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img{
    border-radius: 50%;
}

.botoes .botao.selecionado{
    transform: scale(1.2);
    box-shadow: 0 0 10px #D9D9D9;
    
}
